<!-- Main Content -->
<div class="container mt-4">
    <!-- Create Post -->
    <form method="POST" action="/add/newpost">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create Post</h5>
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="content"
                        placeholder="What's on your mind?"></textarea>
                </div>
                <button class="btn btn-primary">Post</button>
            </div>
        </div>
    </form>
</div>