<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
    <style>
        html, body {
            height: 100%;
        }
        
        .custom-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
    <title>Footer</title>
</head>
<body>

<div class="container">
    <!-- Nội dung trang web của bạn ở đây -->
</div>

<footer class="bg-dark text-white text-center py-3 custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2023 Minh Nhat Luong Blog</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fa-solid fa-house"></i> Home</a></li>
                    <li class="list-inline-item"><a href="#"><i class="fas fa-info-circle"></i> About</a></li>
                    <li class="list-inline-item"><a href="#"><i class="fas fa-cogs"></i> Services</a></li>
                    <li class="list-inline-item"><a href="#"><i class="fas fa-envelope"></i> Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
